.corner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    filter: blur(15px);
    opacity: 0.6;
}
.corner:nth-child(2)::before {
    background-image: linear-gradient(to bottom right, #c7b85b 0%, #68646b 50%);
}
.corner:nth-child(3)::before {
    background-image: linear-gradient(to top left, #c7b85b 0%, #68646b 50%);
}