@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#projects>a {
    /* border-color: transparent; */
}
#projects>a>.rotater {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #c7b85b);
    animation: rotate 1s linear infinite;
    z-index: -1;
}
#projects>a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background-image: conic-gradient(from var(--angle), transparent 70%, #c7b85b);
    animation: rotate 1s linear infinite;
    z-index: -1;
    filter: blur(15px);
    opacity: 0.6;
}
.project-card>.rotater {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 105%;
    border-radius: 0.4rem;
    animation: rotate 5s linear infinite;
}
.project-card>.rotater:nth-child(1) {
    background-image: conic-gradient(from var(--angle), transparent 70%, #c7b85b);
}
.project-card>.rotater:nth-child(2) {
    background-image: conic-gradient(from var(--angle), transparent 20%, #615f63, transparent 50%);
}

.project-card>.rotater::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    animation: rotate 5s linear infinite;
    border-radius: 0.4rem;
    filter: blur(15px);
    opacity: 0.6;
}
.project-card>.rotater:nth-child(1)::before{
    background-image: conic-gradient(from var(--angle), transparent 70%, #c7b85b);
}
.project-card>.rotater:nth-child(2)::before {
    background-image: conic-gradient(from var(--angle), transparent 20%, #615f63, transparent 50%);
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
